* {
  margin: 0;
  padding: 0;
}

.cursor {
  cursor: pointer;
}
/* Header Starts */
.header {
  width: 1263px;
  height: 72px;
}
nav {
  margin-top: 48px;
  margin-left: 69px;
  margin-right: 69px;
  padding: 16px;
  width: 1092px;
  height: 40px;
  display: flex;
  justify-self: center;
  align-items: center;
}
.logo {
  width: 148px;
  height: 33px;
}
.logo > img {
  width: 148px;
  height: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.ul > ul {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-left: 542px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ul > ul > li {
  list-style: none;
  color: rgb(36 42 69);
  text-transform: uppercase;
  font-size: 13px;
}
ul > li.btn {
  width: 91px;
  height: 40px;
}
ul > li.btn > button {
  color: white;
  text-transform: uppercase;
  padding: 12px 28px;
  background-color: rgb(250 89 89);
  border-radius: 6px;
  border: none;
}
.icon > i {
  display: none;
}
div.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1092px;
  height: 348px;
  gap: 25px;
  margin: 112px 69px 0 69px;
  padding: 0px 16px;
}
.item1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item1 > h1 {
  font-size: 48px;
  line-height: 1;
  color: rgb(36 42 69);
  margin-bottom: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.item1 > p {
  color: rgb(145 148 162);
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}
.btn1 {
  display: flex;
  gap: 24px;
}
button.blue {
  background-color: rgb(82 103 223);
  border-radius: 6px;
  border: none;
  padding: 12px 24px;
  color: white;
  font-size: 16px;
  box-shadow: 0px 4px 11px 1px rgba(0, 0, 0, 0.46);
}
button.blue:hover {
  background-color: white;
  color: black;
}
button.white {
  background-color: white;
  border-radius: 6px;
  border: none;
  padding: 12px 24px;
  color: black;
  font-size: 16px;
  box-shadow: 0px 4px 11px 1px rgba(0, 0, 0, 0.46);
}
button.white:hover {
  background-color: rgb(82 103 223);
  color: white;
}
.item2 > img {
  width: 522px;
  height: 348px;
  position: relative;
  bottom: -9px;
  left: 44px;
  margin-top: 29px;
  z-index: 1;
}
.item3 {
  display: block;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  width: 50%;
  height: 20rem;
  background-color: rgb(82 103 223);
  position: absolute;
  right: 0;
  top: 353px;
}
/* Header Ends */
/* Section Starts */
.bg {
  background-color: rgb(247 247 247);
}
section.i {
  width: 1263px;
  height: 1952px;
}
.cont {
  text-align: center;
  margin-top: 240px;
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: "Poppins", sans-serif;
}
.cont > h1 {
  color: rgb(36 42 69);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}
.cont > p {
  margin-top: 16px;
  color: rgb(145 148 162);
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.box2 {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.ig2 {
  width: 492px;
  height: 321px;
}
.ig2 > img {
  width: 492px;
  height: 321px;
  position: relative;
  z-index: 2;
}
.item4 {
  display: block;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  width: 50%;
  height: 20rem;
  margin-top: 96px;
  background-color: rgb(82 103 223);
  position: absolute;
  left: -11%;
  top: 200%;
  z-index: 1;
}
.it4 {
  width: 498px;
  height: 184px;
}
.it4 > h1 {
  color: rgb(36 42 69);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}
.it4 > p {
  margin-top: 16px;
  margin-bottom: 24px;
  color: rgb(145 148 162);
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.btn3 {
  padding: 12px 24px;
  background-color: rgb(82 103 223);
  color: white;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 4px 11px 1px rgba(0, 0, 0, 0.46);
  font-size: 16px;
}
.btn3:hover {
  background-color: white;
  color: black;
}
.box3 {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-left: 69px;
  margin-right: 69px;
  margin-top: 240px;
  padding-left: 16px;
  padding-right: 16px;
}
.content {
  width: 498px;
  height: 160px;
}
.content > h1 {
  color: rgb(36 42 69);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}
.content > p {
  margin-top: 16px;
  margin-bottom: 24px;
  color: rgb(145 148 162);
  font-family: "Poppins", sans-serif;
  line-height: 1.75rem;
}
.ig3 {
  width: 498px;
  height: 409px;
}
.ig3 > img {
  position: relative;
  z-index: 2;
}
.back {
  display: block;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  width: 50%;
  height: 20rem;
  background-color: rgb(82 103 223);
  position: absolute;
  right: 0;
  top: 320%;
  z-index: 1;
}
.box4 {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-left: 69px;
  margin-right: 69px;
  margin-top: 240px;
  padding-left: 16px;
  padding-right: 16px;
}
.ig4 > img {
  position: relative;
  z-index: 2;
  width: 498px;
  height: 430px;
}
.back2 {
  display: block;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  width: 50%;
  height: 20rem;
  background-color: rgb(82 103 223);
  position: absolute;
  left: -11%;
  top: 445%;
  z-index: 1;
}
/* Sections Ends */
/* Section II Start */
section.ii {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 1263px;
  height: 533px;
}
.para {
  width: 826px;
  height: 96px;
  padding: 0 8px;
  margin: 0 210px;
  font-family: "Poppins", sans-serif;
}
.para > h1 {
  color: rgb(36 42 69);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-weight: 400;
}
.para > p {
  color: rgb(145 148 162);
  text-align: center;
  margin-top: 1rem;
}
.container {
  display: flex;
  gap: 4rem;
  margin: 64px 119px 0 119px;
  padding: 0 16px;
  width: 992px;
  height: 373px;
}
.it1 {
  margin-bottom: 64px;
  width: 288px;
  height: 309px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
.one {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one > img {
  width: 102px;
  height: 100px;
}
.one > h3 {
  color: rgb(36 42 69);
  margin: 20px 0 8px 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: capitalize;
  font-weight: 400;
}
.one > p {
  color: rgb(145 148 162);
  margin-bottom: 8px;
}
.hr {
  border-top-width: 1px;
  border: 1px solid rgb(247 247 247);
}
.sep {
  padding: 12px;
  display: flex;
  justify-content: center;
}
.sep > button {
  background-color: rgb(82 103 223);
  border: none;
  color: white;
  width: 264px;
  height: 48px;
  font-size: 100%;
  border-radius: 0.375rem;
  padding: 0.75rem 1.5rem;
  text-transform: capitalize;
  text-align: center;
}
.sep > button:hover {
  background-color: rgb(247 247 247);
  color: black;
}
.it2 {
  margin: 32px 0 32px 0;
  width: 288px;
  height: 309px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
.two {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two > h3 {
  color: rgb(36 42 69);
  margin: 20px 0 8px 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: capitalize;
  font-weight: 400;
}
.two > p {
  color: rgb(145 148 162);
  margin-bottom: 8px;
}
.it3 {
  margin-top: 64px;
  width: 288px;
  height: 309px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
.three {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.three > h3 {
  color: rgb(36 42 69);
  margin: 20px 0 8px 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: capitalize;
  font-weight: 400;
}
.three > p {
  color: rgb(145 148 162);
  margin-bottom: 8px;
}
/* Section II end */
/* Section III start */
section.iii {
  padding: 80px 0 80px 0;
  width: 1263px;
  height: 490px;
}
section.iii > section {
  margin: 0 69px 0 69px;
  padding: 0 16px 0 16px;
  width: 1092px;
  height: 490px;
  font-family: "Poppins", sans-serif;
}
.main {
  margin: 0 318px 0 318px;
  padding: 0 8px 0 8px;
}
.main > h1 {
  color: rgb(36 42 69);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-weight: 400;
}
.main > p {
  margin-top: 16px;
  margin-bottom: 24px;
  color: rgb(145 148 162);
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.card {
  margin: 48px 318px 0 318px;
  width: 455px;
}
.py,
.py2,
.py3,
.py4 {
  padding: 16px 0;
  display: flex;
  align-items: center;
}
.bb {
  border-bottom: 1px solid rgb(229, 231, 235);
}
.swh {
  width: 436px;
  height: 24px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-12 {
  width: 121px;
  height: 48px;
  margin-top: 48px;
  padding: 12px 24px;
  background-color: rgb(82 103 223);
  color: white;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 4px 11px 1px rgba(0, 0, 0, 0.46);
  font-size: 17px;
}
.mt-12:hover {
  background-color: white;
  color: black;
}
/* Section III end */
/* Section IV start */
section.iv {
  color: white;
  background-color: rgb(82 103 223);
  padding: 80px 0;
  font-family: "Poppins", sans-serif;
}
.mp {
  margin: 0 69px;
  padding: 0 16px;
}
.m {
  margin: 0 273px;
  text-transform: uppercase;
  text-align: center;
}
.m > p {
  font-weight: 300;
  margin-bottom: 32px;
}
.m > h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: none;
  font-weight: 400;
}
.p {
  margin-top: 32px;
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
}
input {
  width: 385px;
  height: 25px;
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0px 4px 11px 1px rgba(0, 0, 0, 0.46);
}
input[type="email"]::placeholder {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  color: rgb(145 148 162);
}
input[type="email"]:focus {
  outline: none;
}
.ptb {
  padding: 12px 8px;
}
.bred {
  height: 49px;
  border-radius: 0.375rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(250 89 89);
  color: white;
  font-size: 17px;
  border: none;
  box-shadow: 0px 4px 11px 1px rgba(0, 0, 0, 0.46);
}
.bred:hover {
  background-color: white;
  color: black;
}
/* Section IV end */
/* footer start */
footer {
  background-color: rgb(36 42 69);
  padding: 35px 0;
}
.end {
  margin: 0 69px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.sub {
  display: flex;
  align-items: center;
  gap: 48px;
}
.last {
  color: white;
  list-style: none;
  display: flex;
  gap: 48px;
  align-items: center;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 544px;
}
.tf {
  display: flex;
  gap: 40px;
}
.tf > i {
  font-size: 24px;
  font-weight: 400;
}
/* footer end */
/* Media Queries */
@media screen and (max-width: 480px) {
  /* Header Starts */
  .ul {
    display: none;
  }
  nav {
    justify-content: space-between;
    font-size: 2.75rem;
  }
  .logo > img {
    width: 337px;
    height: 52px;
  }
  i.fa-bars {
    display: flex;
  }
  div.item3 {
    display: none;
  }
  .box1 {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 30px;
  }
  .item2 > img {
    left: 0;
    position: static;
    margin-top: 21rem;
  }
  .item1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .item1 > h1 {
    margin-left: 203px;
  }
  .item1 > p {
    font-size: 29px;
    line-height: 2.75rem;
  }
  .btn1 {
    margin-left: 311px;
  }
  button.blue,
  button.white {
    padding: 26px 55px;
    font-size: 20px;
  }
  /* Header End */
  /* Section Starts I */
  section {
    height: 100%;
  }
  section.i {
    margin-top: 25rem;
    height: 2382px;
  }
  section.i > div {
    width: 480px;
  }
  .cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 392px;
    margin: 0;
  }
  .item4,
  .back,
  .back2 {
    display: none;
  }
  .box2,
  .box3,
  .box4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 32px;
    margin-left: 635px;
  }
  .box3 {
    flex-direction: column-reverse;
  }
  .ig2 > img,
  .ig3 > img,
  .ig4 > img {
    position: static;
    width: 492px;
    height: 350px;
    padding-top: 20px;
  }
  /* Section Ends I */
  /* section ii */
  section.ii {
    height: 946px;
  }
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .para>h1{
    font-size: 2.5rem;
  }
  .para>p{
    font-size:23px;
  }
  .it1,
  .it2,
  .it3 {
    width: 357px;
  }
  .it2,
  .it3 {
    margin: 0;
  }
  .sep {
    height: 111px;
  }
  .sep > button {
    width: 288px;
    height: 48px;
  }
  /* section ii end */
  /* section iii */
  section.iii {
    height: 548px;
  }
  .mt-12 {
    width: 154px;
    height: 65px;
    font-size: 23px;
  }
  .py,
  .py2,
  .py3 {
    font-size: 20px;
  }
  .fa-solids {
    font-size: 32px;
  }
  /* section iii end */
  /* section iv */
  section.iv {
    width: 896px;
    overflow: hidden;
  }
  /* section iv end */
  /* footer */
  footer {
    width: 1263px;
    overflow: hidden;
    padding-bottom: 95px;
  }
  .end {
    width: 100%;
    height: 116px;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .m > p {
    font-size: 19px;
  }
  .m > h1 {
    font-size: 28px;
  }
  input {
    width: 510px;
    height: 37px;
  }
  input::placeholder {
    padding-left: 20px;
    font-size: 15px;
  }
  .bred {
    height: 58px;
  }
  .sub {
    flex-direction: column;
    margin: 0;
    gap: 35px;
  }
  .sub > img {
    width: 337px;
    height: 52px;
  }
  .sub > ul {
    margin-right: 0;
    margin-bottom: 24px;
    font-size: 24px;
  }
  .tf > i {
    font-size: 36px;
  }
  /* footer end */
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* header */
  .header {
    width: 100%;
  }
  nav {
    width: 300px;
    margin-top: 74px;
  }
  .logo > img {
    width: 288px;
    height: 48px;
  }
  .ul > ul > li {
    font-size: 26px;
  }
  .btn > button {
    padding: 11px 44px;
    font-size: 26px;
  }
  i {
    display: none;
  }
  .box1 {
    flex-direction: column-reverse;
  }
  .item1 {
    margin-left: 476px;
  }
  .item1 > h1 {
    font-size: 63px;
    padding-top: 304px;
  }
  .item1 > p {
    font-size: 27px;
    line-height: 2.75rem;
  }
  .item2 {
    margin-top: 46rem;
  }
  .item2 > img {
    width: 994px;
    height: 606px;
    left: 151px;
  }
  .item3 {
    display: block;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    width: 121%;
    height: 37rem;
    left: 744px;
    top: 348px;
    right: 0;
  }
  .btn1 {
    margin-left: 11px;
  }
  button.blue,
  button.white {
    padding: 26px 55px;
    font-size: 20px;
  }
  /* header end */
  section.i {
    margin-top: 1014px;
    width: 248%;
  }
  section.i > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cont > h1 {
    font-size: 39px;
  }
  .cont > p {
    font-size: 27px;
    line-height: 2.75rem;
    padding: 0 145px;
  }
  .item4,
  .back,
  .back2 {
    display: none;
  }
  .box2,
  .box4 {
    flex-direction: column;
    margin-top: 3rem;
    position: static;
  }
  .box3 {
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .ig2 > img,
  .ig3 > img,
  .ig4 > img {
    width: 994px;
    height: 606px;
    position: static;
  }

  section.ii {
    width: 248%;
  }
  section.iii {
    width: 248%;
  }
  section.iv {
    width: 248%;
  }
  footer {
    width: 248%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  /* .header */

  .header {
    width: 232%;
  }
  nav {
    width: 300px;
    margin-top: 74px;
  }
  .logo > img {
    width: 288px;
    height: 48px;
  }
  .ul > ul > li {
    font-size: 26px;
  }
  .btn > button {
    padding: 11px 44px;
    font-size: 26px;
  }
  i {
    display: none;
  }
  .box1 {
    flex-direction: column-reverse;
  }
  .item1 {
    margin-left: 476px;
  }
  .item1 > h1 {
    font-size: 63px;
    padding-top: 304px;
  }
  .item1 > p {
    font-size: 27px;
    line-height: 2.75rem;
  }
  .blue {
    padding: 24px 73px;
    font-size: 29px;
  }
  .item2 {
    margin-top: 46rem;
  }
  .item2 > img {
    width: 994px;
    height: 606px;
    left: 151px;
  }
  .item3 {
    display: block;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    width: 121%;
    height: 37rem;
    left: 744px;
    top: 348px;
    right: 0;
  }
  .btn1 {
    margin-left: 11px;
  }
  button.blue,
  button.white {
    padding: 26px 55px;
    font-size: 20px;
  }
  /* header end */
  section.i {
    margin-top: 1014px;
    width: 232%;
    height: auto;
  }
  .box2,
  .box4 {
    flex-direction: column;
    margin-top: 3rem;
  }
  .box3 {
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .item4,
  .back,
  .back2 {
    display: none;
  }

  section.ii {
    margin-top: 58px;
  }
  .para {
    width: 100%;
  }
  .para > h1 {
    font-size: 3.5rem;
  }
  .para > p {
    font-size: 40px;
  }

  .container {
    margin-top: 159px;
    width: 100%;
    justify-content: center;
  }

  section.iii {
    width: 232%;
  }
  section.iii > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section.iv {
    width: 232%;
  }

  footer {
    width: 232%;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    width: 100%;
  }
  .bar.i {
    display: none;
  }

  .item4 {
    top: 326%;
  }
  .back {
    top: 523%;
  }
  .back2 {
    top: 728%;
  }
}
